:root {
  --font-main: "Barlow Condensed", sans-serif;
  --primary-color: #0d6efd;
  --dark-color: #212529;
}

* {
  font-family: var(--font-main);
  box-sizing: border-box; 
}

.custom-button-primary {
  background-color: #7A9A92!important;
  border: 1px solid #7A9A92!important;
  color: white!important;
  border-radius: 0!important;
  transition: background-color 0.2s ease-in-out, border-color 0.2s ease-in-out!important;
}

.custom-button-primary:hover,
.custom-button-primary:active,
.custom-button-primary:focus {
  background-color: #6b8780!important; 
  border-color: #6b8780!important;  
  color: white!important;
  box-shadow: none!important; 
}

.custom-button-secondary {
  background-color: transparent!important;
  border: 1px solid #7A9A92!important; 
  color: #7A9A92!important;          
  border-radius: 0!important;
  transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out!important;
}

.custom-button-secondary:hover,
.custom-button-secondary:active,
.custom-button-secondary:focus {
  background-color: #7A9A92!important; 
  color: white!important;
  box-shadow: none!important;
}

.breadcrumb {
  font-size: 1.15rem!important;    
  margin-bottom: 0!important; 
}

.breadcrumb .breadcrumb-item {
  font-size: 1.25rem;
  font-weight: 400;
}

.breadcrumb-item a {
  color: #212529!important;
  text-decoration: none!important; 
}

.breadcrumb-item a:hover {
  text-decoration: underline!important;
  color: #000!important;
}

.breadcrumb-item.active {
  color: #6c757d!important; 
}

.accordion-dark .accordion-button {
  color: white(73, 80, 87) !important;
  font-size: 1.25rem !important; 
  font-weight: 700!important;
}

.accordion-dark .accordion-item {
  color: rgb(73, 80, 87) !important;
  border: 1px solid #bcbcbc !important;
}

.accordion-dark .accordion-button:not(.collapsed) {
  box-shadow: none !important;
  background-color: rgb(230, 230, 230) !important;
}

.accordion-dark .accordion-button:focus {
  box-shadow: none !important;
}

.accordion-dark .accordion-button::after {
  filter: invert(0);
}